.cls:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.cls {
	display: inline-block;
}

html .cls {
	height: 1%;
}

.cls {
	display: block;
	display: block;
	width: 960px;
	padding: 0;
	margin: 0 auto;
}

* {
	margin: 0;
	padding: 0;
}

img {
	border: 0;
	/* border-radius: 7px; */
}

div,td,span,input,select,p {
	/*font:13px "",Tahoma;*/
	font-family: Arial, Helvetica, sans-serif;
}

a:visited {
	color: #0000ff;
}

/* New Epay */
/* #bodyP {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 14px;
	color:#545353;
	background-repeat: repeat-x;
	background-position: left top;
} */
.khungtong {
	display: inline-block;
	box-shadow: 0px 0px 15px #ccc;
	width: 932px;
}

#bodyP {
	float: left;
	width: 100%;
	text-align: center;
	position: relative;
}

h3 {
	font-size: 1em;
}

.menu,.khung_noidung,.banner {
	width: 928px;
	margin: 0 auto;
}

.submenuEpay li a:hover {
	color: #086de1;
}

.banner {
	height: 100px;
	margin: 0 auto;
	background: url("../../images/img_new/imgpsh_banner.png") no-repeat
		right bottom;
	background-size: cover;
}

/*banner*/
.logo {
	float: left;
	padding-top: 10px;
	width: 365px;
}

.logo img {
	float: left;
	margin-right: 15px;
}

.top_contens,.dangnhap {
	float: right;
	width: 550px;
}

.phienban {
	width: 100%;
	display: block;
	text-align: right;
	font-size: 11px;
	margin-top: 10px;
	margin-bottom: 5px;
}

.homthu,.thongtin_kh {
	text-align: right;
	font-size: 11px;
	float: left;
	width: 100%;
	padding-top: 3px;
}

.canphai {
	float: right;
}

.text_do {
	font-size: 12px;
	color: red;
	margin: 0 3px;
}

.text_den {
	font-size: 12px;
	color: #000;
	margin: 0 3px;
}

.chitiet a {
	font-size: 12px;
	color: red;
	text-decoration: none;
}

.chitiet a:hover {
	text-decoration: underline;
}

.mail_icon,Â .mail_icon img {
	height: 14px;
	width: 20px;
	float: left;
	margin-right: 5px;
}

.small_text,.text_do,.gach_tomenu,.text_den,.chitiet a {
	height: 14px;
	float: left;
	line-height: 14px;
}

.gach_tomenu {
	font-size: 14px;
	margin: -2px 1px;
}

.button_thue,.button_vuong {
	border-radius: 10px;
	border: solid 1px #b9deff;
	box-sizing: content-box;
	background: -webkit-linear-gradient(#d5eafa, #f1faff);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#d5eafa, #f1faff);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#d5eafa, #f1faff);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(#d5eafa, #f1faff);
	/* Standard syntax (must be last) */
	padding: 4px 10px;
	margin-left: 10px;
	font-size: 12px;
	color: #124977;
	cursor: pointer;
}

.button_vuong {
	border-radius: 0px !important;
	font-weight: bold;
}

.submitEpay {
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 15px;
}

.button_thue:hover,.button_vuong:hover {
	color: #086de1;
	background: -webkit-linear-gradient(#f1faff, #d5eaf);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#f1faff, #d5eaf);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#f1faff, #d5eaf);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(#f1faff, #d5eafa);
	/* Standard syntax (must be last) */
}

.xam {
	color: #545353;
}

.dangnhap {
	width: auto;
	margin-top: 15px;
}

.dangnhap_xinchao {
	float: left;
	height: 23px;
	line-height: 23px;
	width: 233px;
	background: url(../../images/bg_info.png);
	text-align: center;
	font-size: 12px;
	/* border-radius: 7px; */
}

/* End banner */
.lkn_link li a:hover,.lkn_link li .dcchon {
	border-right: solid 1px #8CBAE2;
	border-top: solid 1px #8CBAE2;
	border-left: solid 1px #AEE9FF;
	border-bottom: solid 1px #AEE9FF;
	height: 24px;
	padding: 0px 10px 0px 9px;
	line-height: 24px;
	color: #0076FF;
	background: -webkit-linear-gradient(#8EE4FF, #BCEEFD);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#8EE4FF, #BCEEFD);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#8EE4FF, #BCEEFD);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(#8EE4FF, #BCEEFD);
	/* Standard syntax (must be last) */
}

.lkn_link {
	float: left;
	margin: 0;
	padding: 0px;
}

.lkn_link li {
	list-style: none;
	display: inline;
	float: left;
}

ul.lkn_link li a {
	padding: 0px 10px;
	border-right: solid 1px #add8ff;
	float: left;
	line-height: 26px;
	text-decoration: none;
	color: #086de1;
}

/* begin khung noi dung */
.khung_noidung {
	margin-top: 20px;
}

.noidung {
	float: left;
	border-top: solid 1px #dedede;
	width: 100%;
	padding-bottom: 20px;
	margin-bottom: 10px;
	box-shadow: 0px 1px 3px #ccc;
}

.fastMenu {
	float: left;
	width: 100%;
	-moz-box-shadow: inset 0 4px 0px rgba(165, 221, 240, 0.72);
	-webkit-box-shadow: inset 0 4px 0px rgba(165, 221, 240, 0.72);
	box-shadow: inset 0 4px 0px rgba(165, 221, 240, 0.72);
}

.fastMenu .lkn_title {
	-moz-box-shadow: inset 0 4px 0px rgba(236, 222, 15, 0.75);
	-webkit-box-shadow: inset 0 4px 0px rgba(236, 222, 15, 0.75);
	box-shadow: inset 0 4px 0px rgba(236, 222, 15, 0.75);
	float: left;
	border: solid 1px #b9deff;
	background: -webkit-linear-gradient(#fcdf00, #fffabe);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#fcdf00, #fffabe);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#fcdf00, #fffabe);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(#fcdf00, #fffabe);
	/* Standard syntax (must be last) */
	height: 26px;
	line-height: 26px;
	padding: 0 20px;
	margin: -1px;
	font-weight: bold;
}

.fastMenu {
	border-top: solid 1px #b9deff;
	border-left: solid 1px #b9deff;
	border-right: solid 1px #b9deff;
	background: -webkit-linear-gradient(#a5dff1, #e1f8fc);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#a5dff1, #e1f8fc);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#a5dff1, #e1f8fc);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(#a5dff1, #e1f8fc);
	/* Standard syntax (must be last) */
}

.lkn_link {
	float: left;
	margin: 0;
	padding: 0px;
}

.lkn_link li {
	list-style: none;
	display: inline;
	float: left;
}

ul.lkn_link li a {
	padding: 0px 10px;
	border-right: solid 1px #add8ff;
	float: left;
	line-height: 26px;
	text-decoration: none;
	color: #086de1;
}

.tieudelon {
	height: 24px;
	margin-top: -1px;
	float: left;
	width: 100%;
	border-bottom: solid 1px #b9deff;
	background-color: #e8f4fc;
	-moz-box-shadow: inset 0 1px 0px #fff;
	-webkit-box-shadow: inset 0 1px 0px #fff;
	box-shadow: inset 0 1px 0px #fff;
}

span.icon_tt img {
	padding: 4px;
	padding-left: 20px;
	float: left;
}

span.text_tt {
	font-size: 12px !important;
	font-weight: bold !important;
	margin-left: 5px !important;
	line-height: 24px !important;
	color: #000000 !important;
}

.tieudemuctin {
	background-repeat: no-repeat;
	background-position: left 3px;
	text-indent: 15px;
	color: #124977;
	font-size: 18px;
	font-weight: bold;
	padding: 0px;
}

.gachdo {
	border-bottom: solid 1px #F00;
	padding: 0px 0px 5px 7px;
	margin-left: -10px;
}

.tieudemuctin {
	margin-top: 34px;
}

.btn_Thue {
	background: url(../../images/bg_btnThue.gif) repeat-x scroll left top
		rgba(0, 0, 0, 0);
	border: 1px solid #7ec5ff;
	color: #01405d;
	cursor: pointer;
	font-family: Tahoma, sans-serif;
	font-size: 12px;
	font-weight: bold;
	height: 21px;
	line-height: 15px;
	padding: 0 10px 3px;
}

.form_table tr td input[type="text"] {
	width: 99%;
}

.lableMSB {
	width: 150px;
}

fieldset {
	border: 1px solid #dedede;
	color: #000000;
}

fieldset {
	margin: 0;
	padding: 0;
	margin-top: 4px;
}

fieldset legend {
	margin-top: 0px;
	border-radius: 1px;
	/* box-shadow: 0 0 0 1px #dedede; */
	font-size: 13px;
	font-weight: bold;
	padding: 5px 10px;
	margin-bottom: 3px;
	border: solid 1px #dedede !important;
	margin-left: 5px;
}

.box_common_content table td,.box_common_content table th {
	padding: 5px 6px;
	text-align: left;
}

table.detail_table {
	width: 100%;
	border: solid 1px #b9deff;
	border-collapse: collapse !important;
	border-spacing: 0;
}

table.detail_table .trang {
	height: 28px;
	color: #fff;
	text-align: center;
}

table.detail_table .trang td {
	background-color: #006ea6;
	color: #fff !important;
}

.detail_table tr {
	text-align: center;
}

table.detail_table th {
	background-color: #006ea6;
	color: #fff;
	font-size: 12px;
	height: 36px;
	border-bottom: 1px solid #bae0ff;
	border-right: 1px solid #bae0ff;
	padding: 5px 6px;
}

table.detail_table td {
	background-color: #ffffb5;
}

table.detail_table td input {
	background: none;
	background-color: #ffffb5;
}

/* end khung noi dung */

/*nop to khai*/
.khungnhaplieu {
	padding: 0px;
	padding-top: 0px;
	display: block;
}

.nhaplieu {
	display: block;
	width: 100%;
	margin: 0px;
	margin-top: 10px;
}

.nhaplieu .tieudelon {
	text-transform: none;
	font-size: 12px;
	color: #000;
}

/* Begin Footer */
.footer928 {
	padding-bottom: 20px;
	width: 928px;
	text-align: left;
	margin: 0 auto;
}

.footer {
	clear: both;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.menu_ft,.menu_ft ul {
	margin: 0;
	padding: 0;
	width: 100%;
	float: left;
}

.menu_ft {
	display: table;
	margin-bottom: 15px;
}

.menu_ft ul {
	display: table-row;
}

.menu_ft ul li {
	list-style: none;
	display: table-cell;
	padding-right: 50px;
}

.menu_ft ul li a {
	text-decoration: none;
	color: #404040;
	font-weight: bold;
	font-size: 14px;
}

.footer ul li a {
	text-decoration: none;
	color: #404040;
	font-weight: bold;
	font-size: 14px;
}
/* End footer */

/* End Epay */
#Header {
	/*background:url(../../images/default/logo_right.gif) right top no-repeat;*/
	
}

#Header a {
	white-space: nowrap;
}

#logo {
	height: 88px;
	width: 960px;
	padding: 0;
	margin: 0 auto;
	background-image: url("../../images/bab/banner960.png");
}

#shortcut {
	float: right;
	margin-top: 10px;
	margin-right: 14px;
	font-weight: bold;
}

#shortcut a {
	color: #6C6C6C;
	text-decoration: none;
}

#shortcut a:hover {
	color: #6C6C6C;
	text-decoration: none;
}

#shortcut img {
	vertical-align: text-bottom;
}

#Page_left {
	width: 186px;
	background: #EFEFEF;
}

.Page_left_l {
	float: left;
}

.Page_left_r {
	float: right;
}

#Page_right {
	float: left;
	width: 563px;
}

#Page_right_last {
	float: right;
	background: #EFEFEF;
}

#Page_middle {
	/*background:url(../../images/default/c8c8c8.gif) left top repeat-y;*/
	background: #efefef;
	width: 10px;
	font-size: 0px;
}

.Page_middle_left {
	float: left;
}

.Page_middle_right {
	float: right;
}

.SiteMenu {
	float: right;
	padding-top: 9px;
}

#SiteTopMenu {
	width: 564px;
	height: 17px;
}

.SiteMenu .lt {
	float: right;
	width: 188px;
	height: 17px;
	background: url(../../images/themes/menu_a.gif) no-repeat #efefef;
	position: relative;
	z-index: 100;
}

.SiteMenu .lt .t {
	text-align: center;
	font-weight: bold;
	cursor: pointer;
}

.SiteMenu .lt .t span {
	padding-right: 15px;
	background: url(../../images/themes/menu_a.gif) right -22px no-repeat;
}

.SiteMenu .lt .ShowArea {
	position: absolute;
	width: 186px;
	padding: 0px 1px 10px 1px;
	left: 0px;
	top: 17px;
	background: url(../../images/themes/menu_b.gif) center bottom no-repeat;
}

.SiteMenu .lt ul {
	width: 186px;
	background: #efefef;
	padding-top: 10px;
}

.SiteMenu .lt li {
	padding: 8px 0px 8px 05px;
	color: #727272;
	float: left;
	width: 181px;
	text-align: left;
	background: url(../../images/default/info_line.gif) center bottom
		no-repeat;
}

.SiteMenu .lt li span {
	padding-left: 20px;
}

.SiteMenu .lt li.selected {
	background-color: #fff;
}

.SiteMenu .lt li.selected span {
	background: url(../../images/default/info_select_on.gif) 2px -7px #fff
		no-repeat;
}

.SiteMenu .lt li a {
	text-decoration: none;
	color: #555;
}

.SiteMenu .lt li.selected a {
	color: #D7213A;
}

.bottom_SiteMenu ul {
	width: 186px;
	background: #efefef;
}

.bottom_SiteMenu li {
	padding: 2px 0px 2px 05px;
	color: #727272;
	float: left;
	width: 181px;
	text-align: left;
}

.bottom_SiteMenu li span {
	padding-left: 20px;
}

.bottom_SiteMenu li.selected span {
	background: url(../../images/default/info_select_on.gif) 2px -7px
		no-repeat;
}

.bottom_SiteMenu li a {
	text-decoration: none;
	color: #555;
}

.bottom_SiteMenu li.selected a {
	color: #D7213A;
}

.T_iframe {
	position: absolute;
	left: 1px;
	top: 0px;
	width: 186px;
	height: 158px;
	z-index: -1;
	background: none;
}

.top_bottom_Box {
	width: 957px;
	background: url(../../images/themes/topBottom_bg.gif) center center
		no-repeat;
	height: 181px;
}

.Noice_Bottom {
	position: absolute;
	left: 29px;
	top: 36px;
	width: 196px;
	height: 181px;
}

.Noice_Bottom td {
	line-height: 20px;
}

#dt_wrap {
	position: absolute;
	left: 264px;
	top: 36px;
	width: 196px;
	height: 181px;
}

.bottom_SiteMenu {
	position: absolute;
	left: 505px;
	top: 52px;
	width: 196px;
	height: 181px;
}

#Flash_Box {
	position: absolute;
	left: 736px;
	top: 55px;
	width: 196px;
	height: 181px;
}

#Flash_Box img {
	width: 192px;
	height: 95px;
}

#Footer {
	border-top: 1px solid #C3C3C3;
	float: left;
	width: 960px;
}

.table_footerMSB {
	margin-top: 8px;
}

.table_footerMSB td {
	padding-left: 3px;
	padding-right: 3px;
}

.table_footerMSB a {
	color: #555555;
	text-decoration: none;
}

.footer_td {
	background: url(../../images/default/footer_middle.gif) left top
		repeat-x;
}

#menu_lv1 { /*padding:0 0 0 110px;*/
	background-image: url(../../images/default/menu/bgchomenu.png);
	background-position: 0 28px;
	background-repeat: repeat-x;
	display: block;
	float: left;
	height: 80px;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 100%;
}

#wrap {
	width: 980px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}

#wrap div {
	list-style: none;
	display: table;
}

#wrap div a {
	background-image: url(../../images/default/menu/menuR.png);
	background-repeat: no-repeat;
	background-position: right top;
	display: block;
	text-decoration: none;
	color: #58595b;
	font-weight: bold;
	text-align: center;
	height: 32px;
	line-height: 36px;
	padding-top: 0px;
	padding-right: 12px;
	padding-bottom: 0px;
	padding-left: 0px;
}

#wrap div:hover a,#wrap div:active a {
	color: #fff;
	background-repeat: no-repeat;
	background-position: right bottom;
}

#wrap div:hover a .wrap_span_a {
	background-repeat: no-repeat;
	background-position: left bottom;
}

.wrap_span_a {
	background-image: url(../../images/default/menu/menuL.png);
	background-position: left top;
	height: 32px;
	width: 10px;
	float: left;
	display: block;
}

.menu1_on {
	float: left;
	font-size: 13px;
	background-color: #0099DB;
}

.menu1_off {
	color: #58595B;
	float: left;
	display: block;
}

.menu1_off a:hover {
	/*color: #ececec;*/
	color: #0099DB;
}

.wrap2 {
	width: 960px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}

.menu1_off a,.menu1_off a:visited {
	display: block;
	color: #fff;
	font-weight: bold;
	background: url(../../images/leftOff.png) left top no-repeat;
	text-decoration: none;
	font-size: 13px;
	line-height: 13px;
	padding: 5px 8px 1px 10px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

.menu1_off a:hover {
	color: #ececec;
}

.menu1_on a span,.menu1_off a span {
	font-size: 13px;
	line-height: 22px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

#menu_lv2 {
	position: relative;
}

.menu_lv2sub {
	position: absolute;
	top: 0px;
}

.menu_lv2_td {
	width: 960px;
	margin: 0 auto;
	padding: 3px 0 0;
}

.menu_lv2_left {
	background: url(../../images/default/menu_lv2_left.gif) left top
		no-repeat;
}

.menu_lv2_right_2 {
	background: url(../../images/default/menu_lv2_right_2.gif) left top
		no-repeat;
}

.menu2_off,.menu2_off:visited {
	text-decoration: none;
	color: #585858;
	font-size: 13px;
	line-height: 13px;
	text-align: center;
	display: block;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	padding: 2px 10px 1px 11px;
	padding-left: 10px;
	padding-right: 11px;
	padding-top: 3px;
	padding-bottom: 1px;
}

.menu2_on,.menu2_on:visited {
	text-decoration: none;
	font-weight: bold;
	color: #0099DB;
	font-size: 13px;
	line-height: 13px;
	text-align: center;
	display: block;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 10px;
	padding-right: 11px;
	padding-top: 3px;
	padding-bottom: 1px;
}

.menu2_off span,.menu2_off:visited span {
	font-size: 13px;
	margin-top: 2px;
}

.menu2_on span,.menu2_on:visited span {
	margin-top: 2px;
	font-size: 13px;
	font-weight: bold;
}

.menu_lv2_item img {
	float: left;
	padding-top: 4px;
}

.menu_lv2_item a:hover {
	color: #0099DB;
}

.menu_exit {
	background: url(../../images/default/menu_lv2_right.gif) left top
		no-repeat;
}

.menu_exit img {
	vertical-align: top;
	padding: 0px 0px 4px 23px;
	cursor: pointer;
}

.info_left {
	float: left;
	padding: 0px 0px 0px 0px;
	width: 181px;
}

.info_time {
	background: url(../../images/default/info_time.gif) left top repeat-x;
	/**padding:6px 6px 6px 20px;***/
	color: #fff;
	font-weight: bold;
	padding: 6px 6px 0px 20px;
	height: 20px;
	width: 163px;
}

.info_time_cornor {
	float: left;
	background: url(../../images/default/info_middle_top.gif) left top
		no-repeat;
	height: 26px;
	width: 25px;
}

.info_time_bottom {
	/*background:url(../../images/default/info_time_bottom.gif) left top repeat-x;*/
	
}

.info_line {
	border-top: 1px solid #949494;
	border-bottom: 1px solid #FFFFFF;
}

.info_right_line {
	border-color: #E1E0E1;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	margin-bottom: 5px;
}

.info_ul_title {
	/* background: url(../../images/fastlink.png) left top repeat-x; */
	padding: 8px 0 8px 10px;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	background-color: #FFC80B;
}

.info_product_title {
	background: #EFEFEF url(../../images/default/info_product_title.gif)
		left top repeat-x;
	padding: 4px 0 1px 10px;
	color: #fff;
	font-weight: bold;
}

.info_product_title img {
	vertical-align: -60%;
	margin: 0 6px 0px 2px;
}

.info_product_flash {
	margin: 8px 1px 0 1px;
}

.info_ul ul {
	/*background:#EFEFEF url(../../images/default/info_ul_bg.gif) 15px 70px no-repeat;*/
	color: #fff;
	font-weight: bold;
	padding-bottom: 50px;
}

.info_ul ul a {
	text-decoration: none;
	color: #727272;
}

.info_ul ul div img {
	padding: 0 0 0 7px;
	float: left;
}

.info_ul ul li {
	list-style: none;
	padding: 6px 0px 6px 0px;
	color: #727272;
	font-weight: normal;
}

.info_ul ul li a {
	padding: 2px 0 5px 24px;
	display: block;
}

.info_ul a:visited {
	color: #727272;
	display: block;
}

.info_ul li.select {
	/*list-style:inside url(../../images/default/info_select_on.gif);*/
	
}

.info_ul li.select a,.info_ul li.select a:visited {
	/*background:url(../../images/default/info_select_bg.gif) left top repeat-y;*/
	display: block;
	color: #0099DB;
	font-weight: bold;
	padding: 0px 0 6px 10px;
}

.info_ul li.select a span,.info_ul li.select a:visited span {
	display: block;
	padding-left: 16px;
	height: 28px;
	line-height: 28px;
	font-weight: bold;
	/*background:url(../../images/default/info_select_on.gif) left top no-repeat;*/
}

.find_margin {
	margin: 0 15px 0 15px;
}

.find_title {
	margin: 6px 0px 0 0px;
}

.find_title_name {
	color: #CB0021;
	font-size: 14px;
	font-weight: bold;
	padding: 0 0 0 3px;
}

.find_content {
	border: 1px solid #B4B4B4;
}

.find_redline {
	background: url(../../images/default/find_redline.gif) left top repeat-x;
	height: 8px;
	font-size: 8px;
	margin: 0;
}

.find_table {
	margin: 0;
}

.find_table_middle {
	background: url(../../images/default/find_table_middle.gif) left top
		repeat-y;
}

.indent {
	padding-top: 20px;
	padding-bottom: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: #e1e0e1;
}

.noneMSB {
	border-width: 0;
	padding-bottom: 0;
	padding-top: 0;
}

.form_content_head { /
	background: url(../../images/default/form_content_head.gif) left top
		repeat-x;
	height: 26px;
}

.form_position {
	padding: 7px 0 0 25px;
}

.form_position img {
	vertical-align: -40%;
	padding: 0 5px 0 0;
}

.form_position_name {
	color: #CB0021;
	font-size: 14px;
	font-weight: bold;
}

.form_position_info {
	padding: 7px 0 0 25px;
}

.form_panel {
	/*margin:11px 8px 0 27px;*/
	margin: 0px 0px 0 0px;
	border-bottom: 1px solid #C5C5C5;
	padding: 0 0 25px 0;
}

.form_panel_off,.form_panel_on {
	width: 100px;
	text-align: center;
	display: block;
	float: left;
	cursor: default;
}

.form_panel_off {
	color: #595757;
	padding: 7px 0 1px 0;
}

.form_panel_on {
	background: #fff url(../../images/default/form_panel_bg.gif) left top
		no-repeat;
	color: #CB0021;
	padding: 7px 0 2px 0;
	margin-bottom: -1px;
}

.form_panel_already {
	color: #9F9FA0;
}

.form_panel_table {
	/* margin:10px 0px 0px 27px; */
	padding-top: 10px;
}

.form_panel_list {
	margin: 0 33px 0px 20px;
}

.form_button_area {
	margin-left: 260px;
	background-color: #F0F0F2;
}

.form_panel_bottom {
	margin-left: 10px;
	background-color: #F0F0F2;
}

.form_panel_td {
	background: url(../../images/default/form_panel_middle.gif) left top
		repeat-x;
	height: 8px;
}

.form_button_left {
	margin: 18px 0 14px 0;
	float: left;
	font-size: 13px;
	padding: 6px 0px 10px 8px;
	background: url(../../images/default/form_button_left.gif) left top
		no-repeat;
	text-decoration: none;
}

.form_button_right a {
	color: #787878;
	text-decoration: none;
	margin: 10px 12px;
	padding: 6px 12px 10px 0;
	background: url(../../images/default/form_button_right.gif) right top
		no-repeat;
}

.form_left_bg {
	background: url(../../images/default/form_left_bg.gif) left top repeat-y;
}

.form_right_bg {
	background: url(../../images/default/form_right_bg.gif) left top
		repeat-y;
}

.form_bottom_middle {
	background: url(../../images/default/form_bottom_middle.gif) left top
		repeat-x;
}

.form_table,.form_new_table { //
	margin-top: 27px;
}

.form_table  td,.form_new_table  td {
	font-size: 13px;
	padding: 2px 4px 1px 6px;
	color: #000000 !important;
}

.step1_done,.step1_current,.step1_next,.step2_done,.step2_current,.step2_next,.step_final_on,.step_final_off,.step_done,.step_current,.step_next
	{
	width: 33%;
	height: 20px;
	text-align: center;
	display: block;
	font-weight: bold;
	font-size: 14px;
	font-family: Tahoma;
	float: left;
	cursor: default;
	padding: 4px 0 2px 0;
	margin-bottom: -1px;
	background-repeat: no-repeat;
	background-position: right top;
}

.step_next {
	color: #b9b9b9;
	background-color: #f7f7f7;
	background-image: url(../../images/default/step3.png);
}

.step_current {
	color: #FFFFFF;
	background-color: #e32128;
	background-image: url(../../images/default/step1.png);
}

.step_done {
	color: #b9b9b9;
	background-color: #f7f7f7;
	background-image: url(../../images/default/step2.png);
}

.step1_next {
	color: #b9b9b9;
	background-color: #f7f7f7;
	background-image: url(../../images/default/1offnext.png);
}

.step1_current {
	color: #FFFFFF;
	background-color: #FFC80B;
	background-image: url(../../images/default/1oncurrency.png);
}

.step1_done {
	color: #b9b9b9;
	background-color: #f7f7f7;
	background-image: url(../../images/default/1offdont.png);
}

.step2_next {
	color: #b9b9b9;
	background-color: #f7f7f7;
	background-image: url(../../images/default/2offnext.png);
}

.step2_current {
	color: #FFFFFF;
	background-color: #FFC80B;
	background-image: url(../../images/default/2oncurrency.png);
}

.step2_done {
	color: #b9b9b9;
	background-color: #f7f7f7;
	background-image: url(../../images/default/2offdone.png);
}

.step_final_off {
	width: 34%;
	color: #b9b9b9;
	background-color: #f7f7f7;
	background-image: url(../../images/default/3off.png);
}

.step_final_on {
	width: 34%;
	color: #FFFFFF;
	background-color: #FFC80B;
	background-image: url(../../images/default/3on.png);
}

.formInputMSB {
	margin: 0px 10px 0px 10px;
	padding-bottom: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: #e1e0e1;
	/*
	border-bottom-right-radius:12px;
 	-moz-border-radius-bottomleft:12px;
	border-bottom-left-radius:12px;
 	-moz-border-radius-bottomright:12px;
 	*/
}

.form_new_table td {
	padding: 2px 0px 2px 0px;
	font-size: 12px;
}

.form_redhead {
	/*background:#0099DB;
margin-top:0px;
height:3px;
font-size:1px;*/
	
}

.form_redhead_clearance {
	background: #efefef;
	height: 27px;
}

.confirm_table1 {
	border-collapse: collapse;
	margin: 9px 0px 0px 0px;
	color: #323232;
}

.confirm_table1 td {
	padding: 8px 0px;
	border: 1px solid #A5A5A5;
	color: #323232;
	font-size: 11px;
}

.confirm_table {
	border-collapse: collapse;
	margin: 9px 56px 0 40px;
	color: #323232;
	font-size: 11px;
}

.confirm_table td {
	padding: 8px 4px 8px 6px;
	border: 1px solid #A5A5A5;
	color: #323232;
	text-align: left;
}

.confirm_head {
	text-align: right !important;
	color: #323232;
	background: #efefef;
}

.confirm_head td {
	font-weight: bold;
	padding: 8px 0px 8px 0px;
	color: #323232;
}

.confirm_table_title {
	margin: 38px 0 0 42px;
	color: #323232;
}

.succeed_table {
	border-collapse: collapse;
	margin: 20px 25px 0 22px;
	background: #FFFFFF;
	color: #323232;
}

.succeed_table_title {
	margin: 18px 0 0 19px;
}

.succeed_table_content {
	margin: 32px 0 66px 0;
}

.succeed_table_content img {
	vertical-align: -80%;
	margin-right: 6px;
}

.detail_table {
	border-collapse: collapse;
	margin: 9px 10px 0 10px;
	color: #323232;
}

.detail_head {
	text-align: right;
	color: #323232;
	background: #FDECEC;
}

.detail_head td {
	font-weight: bold;
	padding: 8px 0px 8px 0px;
	color: #323232;
}

.detail_panel_table {
	margin: 0 0px 0px 0px;
	background-color: #F0F0F2;
	text-align: center;
}

.exception_table_content {
	margin: 50px 0 66px 0;
	font-size: 14px;
}

.exception_table_content img {
	vertical-align: -80%;
	margin-right: 6px;
}

.exception_table_clew {
	font-size: 12px;
}

.form_clew {
	width: 90%;
	margin: 20px 0px 0px 27px;
}

.form_clew ul {
	color: #0099DB;
	background: url(../../images/default/form_clew_icon.gif) left top
		no-repeat;
	list-style: inside url(../../images/default/form_clew_dot.gif);
	padding: 3px 0 3px 23px;
}

.form_clew li {
	color: #898989;
	padding: 4px 0px;
}

.form_clew1 {
	width: 90%;
	margin: 20px 0px 0px 27px;
}

.form_clew1 ul {
	color: #0099DB;
	background: url(../../images/default/form_clew_icon.gif) left top
		no-repeat;
	list-style: inside url(../../images/default/form_clew_dot.gif);
	padding: 3px 0 3px 23px;
}

.form_clew1 li {
	color: #000000;
	padding: 4px 0px;
}

.account_table_title {
	font-weight: bold;
	padding-top: 22px;
	padding-bottom: 5px;
}

.account_table_head {
	color: #fff;
	padding: 6px 10px 6px 11px;
	background: #DB5453 url(../../images/default/table_title.gif) right top
		no-repeat;
	margin-bottom: 2px;
}

.account_table_line {
	border-top: 1px solid #DB5453;
	margin-bottom: 2px;
}

.table_title {
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	padding: 3px 0 1px 11px;
	background: #DB5453 url(../../images/default/table_title.gif) right top
		no-repeat;
	margin: 8px 0px 0px 0px;
}

.result_table {
	border-collapse: collapse;
	margin: 0px 0px 10px 0px;
}

.result_table td {
	border: 1px solid #c8c8c8;
	padding: 4px 3px 4px 5px;
	color: #000000 !important;
}

.result_head {
	background: none repeat scroll 0 0 rgb(91, 203, 244);
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
	font-family: arial;
}

.result_head td {
	font-weight: bold;
	padding: 5px 2px 3px 2px;
}

.result_table_detail {
	border-collapse: collapse;
	margin: 0px 0px 0px 0px;
}

.result_table_detail td {
	border: 1px solid #c8c8c8;
	padding: 0px 0px 0px 0px;
	empty-cells: show;
}

.result_table_detail td:empty {
	border: 1px solid #c8c8c8;
}

.trans_table {
	border-collapse: collapse;
	margin: 0px 0px 10px 0px;
}

.trans_table td {
	font-size: 11px;
	border: 1px solid #fff;
}

.trans_head {
	text-align: center;
	font-weight: bold;
	color: #444;
	background: transparent url(../../images/default/result_head.gif) left
		top repeat-x;
}

.trans_head td {
	font-weight: bold;
	padding: 5px 0px 5px 0px;
}

.result_margin {
	margin-right: 0px;
}

.bg1 {
	background: #fff;
}

.bg1 td {
	padding: 4px 3px 2px 3px;
}

.bg2 {
	background: none repeat scroll 0% 0% rgb(255, 255, 255);
}

.bg2 td {
	padding: 4px 3px 2px 3px;
}

.result_over {
	background: #fff;
}

.result_over td {
	background: #fff;
	padding: 4px 3px 2px 3px;
}

.result_out {
	background: #fff;
}

.result_out td {
	background: #fff;
	padding: 4px 3px 2px 3px;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

/** in table link **/
.in_table_link {
	margin: 0 0 0 5px;
	display: inline;
}

.in_table_link a:visited {
	color: #0074c0;
}

.in_table_link a:link {
	color: #0074c0;
}

.in_table_link a:hover {
	color: #0074c0;
}

.condition_table {
	border-collapse: collapse;
	background: #F7F7F7;
}

.condition_table td {
	border: 1px solid #fff;
	padding: 2px 4px 1px 6px;
}

.table_header {
	/*background:transparent url(../../images/default/table_xian2.gif) left bottom repeat-x;*/
	text-align: right;
	padding: 12px 6px 2px 6px;
	margin: 1px 0px 0 0px;
	color: #444444;
}

.table_header img {
	cursor: pointer;
}

.pagination {
	text-align: right;
	padding: 5px 6px 3px 6px;
	margin: 3px 0px 6px 0px;
	color: #707070;
}

.pagination a {
	font-weight: bold;
	color: #CB0021;
}

.conresult_panel_table {
	margin: 0 33px 0px 20px;
	background-color: #FFFFFF;
}

.conresult_table {
	margin-top: 5px;
}

.tishi {
	padding: 2px 0 1px 0;
	margin-right: 9px;
	color: #999999;
	float: right;
	width: 221px;
}

.tishi_on {
	border: 1px solid #F0BDBD;
	background: #FDECEC url(../../images/default/tishi.gif) 1px left
		no-repeat;
	padding: 2px 5px 1px 22px;
	margin-right: 9px;
	float: right;
	width: 221px;
}

.tishi_err {
	border: 1px solid #F0BDBD;
	background: #FDECEC url(../../images/default/tishi_err.gif) 0px left
		no-repeat;
	padding: 2px 5px 1px 22px;
	margin-right: 9px;
	float: right;
	width: 221px;
}

.menuskin {
	border-right: 1px solid #5D5D5D;
	border-bottom: 1px solid #3C3C3C;
	visibility: hidden;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	background-color: #EBEBEB;
	background-repeat: repeat-y;
	/*filter:alpha(opacity=90);*/
}

.menuskin td {
	line-height: 20px;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	padding-right: 4px;
	padding-left: 8px;
	color: #595757;
	text-decoration: none;
}

.menuskin td.menu3_td {
	background: url(../../images/default/menu3_arrow.gif) right top
		no-repeat;
}

.menuskin td.menu3_td {
	background: url(../../images/default/menu3_arrow.gif) right top
		no-repeat;
}

.menuskin img {
	vertical-align: middle;
}

.menu3_divide {
	padding: 1px 5px;
	background: url(../../images/default/menu3_divide.gif) left top repeat-x;
}

.clear {
	clear: both;
}

.text_center {
	text-align: center;
}

.text_right {
	text-align: right;
}

.setting_cd_jia,.setting_cd_jia:visited {
	padding: 3px 3px 3px 15px;
	color: #777;
	text-decoration: none;
	background: url(../../images/default/plus.gif) left 3px no-repeat;
}

.setting_cd_jia2,.setting_cd_jia2:visited {
	margin-left: 20px;
	padding: 3px 3px 3px 15px;
	color: #777;
	text-decoration: none;
	background: url(../../images/default/plus.gif) left 3px no-repeat;
}

.setting_cd_jian,.setting_cd_jian:visited {
	padding: 3px 3px 3px 15px;
	color: #777;
	text-decoration: none;
	background: url(../../images/default/minus.gif) left 3px no-repeat;
}

.setting_cd_jian2,.setting_cd_jian2:visited {
	margin-left: 20px;
	padding: 3px 3px 3px 15px;
	color: #777;
	text-decoration: none;
	background: url(../../images/default/minus.gif) left 3px no-repeat;
}

.setting_cd_no,.setting_cd_no:visited {
	margin-left: 20px;
	padding: 0 3px 0 12px;
	color: #777;
	text-decoration: none;
	background: url(../../images/default/item.gif) left 0px no-repeat;
}

.setting_cd_no2,.setting_cd_no2:visited {
	margin-left: 40px;
	padding: 0 3px 0 12px;
	color: #777;
	text-decoration: none;
	background: url(../../images/default/item.gif) left 0px no-repeat;
}

input.textBoxUnFocus {
	padding: 2px;
	font-family: Tahoma, sans-serif;
	font-size: 12px;
	border: 1px solid #EBEBEB;
	background-color: #F0F0F2;
}

input.textBoxFocus {
	padding: 2px;
	font-family: Tahoma, sans-serif;
	font-size: 12px;
	border: 1px solid #0000FF;
	background-color: #F0F0F2;
}

#testwidth {
	float: left;
	width: 65%;
}

#rightwidth {
	margin-top: 32px;
	width: 34%;
	float: right;
}

.menu_info {
	width: 210px;
}

.menu_info_left a,.menu_info_left a:visited {
	font-size: 13px;
	font-weight: bold;
	color: #717173;
	padding: 7px 0 9px 24px;
	background: url(../../images/default/menu_info_left.gif) left top
		no-repeat;
	text-decoration: none;
}

.menu_info_right {
	padding: 7px 0 9px 0;
	background: url(../../images/default/menu_info_right.gif) right top
		no-repeat;
}

.formtable_left {
	border: 1px solid #C3C3C5;
	background: #FAFAFA;
}

.formtable_middle {
	margin-top: 80px;
}

.formtable_right {
	border: 1px solid #C3C3C5;
	background: #FAFAFA;
}

.formtable_bottom {
	border: 1px solid #C3C3C5;
	background: #FAFAFA;
}

.bat_button_left {
	float: left;
	font-size: 13px;
	padding: 6px 0px 10px 8px;
	background: url(../../images/default/form_button_left.gif) left top
		no-repeat;
	text-decoration: none;
}

.bat_button_right a {
	color: #787878;
	text-decoration: none;
	margin: 10px 12px;
	padding: 6px 12px 10px 0;
	background: url(../../images/default/form_button_right.gif) right top
		no-repeat;
}

.bat_form_height {
	height: 9px;
}

.safe_table {
	border: 1px solid #B8B8B8;
	border-collapse: collapse;
	margin-left: 12px;
}

.map_table {
	margin-left: 12px;
}

.safe_table td {
	padding: 12px 0px 25px 98px;
}

.safe_pass {
	background: url(../../images/default/safe_pass.gif) left top no-repeat;
	padding: 29px 0px 25px 98px;
}

.safe_trans {
	background: url(../../images/default/safe_trans.gif) left top no-repeat;
	padding: 29px 0px 26px 95px;
}

.safe_start {
	background: url(../../images/default/safe_start.gif) left top no-repeat;
	padding: 29px 0px 25px 92px;
}

.safe_freeze {
	background: url(../../images/default/safe_freeze.gif) left top no-repeat;
	padding: 29px 0px 25px 99px;
}

.safe_log {
	background: url(../../images/default/safe_log.gif) left top no-repeat;
	padding: 29px 0px 24px 98px;
}

.safe_fuc {
	background: url(../../images/default/safe_fuc.gif) left top no-repeat;
	padding: 29px 0px 26px 98px;
}

.safe_down {
	background: url(../../images/default/safe_down.gif) left top no-repeat;
	padding: 29px 0px 25px 98px;
}

.safe_pass_right {
	border-left: 1px solid #EFEFEF;
	border-bottom: 1px solid #EFEFEF;
	padding: 28px 0px 25px 0px;
}

.safe_td_left a {
	font-weight: bold;
	color: #0000FF;
	text-decoration: none;
}

.safe_td_left {
	display: block;
	float: left;
	width: 100px;
	height: 32px;
}

.safe_td_right {
	padding-left: 8px;
	color: #505050;
	display: block;
	float: left;
	width: 270px;
	height: 32px;
}

.safe_td_right_4 {
	padding-left: 76px;
	color: #505050;
}

.safe_td_right_7 {
	padding-left: 26px;
	color: #505050;
}

.safe_info {
	background: url(../../images/default/safe_info.gif) left top no-repeat;
}

.safe_style {
	background: url(../../images/default/safe_style.gif) left top no-repeat;
	padding: 9px 0px 25px 98px;
}

.safe_layout {
	background: url(../../images/default/safe_layout.gif) left top no-repeat;
	padding: 9px 0px 25px 98px;
}

.safe_setting {
	background: url(../../images/default/safe_setting.gif) left top
		no-repeat;
	padding: 9px 0px 25px 98px;
}

.safe_quickmenu {
	background: url(../../images/default/safe_quickmenu.gif) left top
		no-repeat;
	padding: 9px 0px 25px 98px;
}

.quick_button {
	float: right;
	padding-right: 24px;
	height: 15px;
	width: 15px;
	/*background:url(../../images/default/quick_button2.gif) left no-repeat;*/
	background: url(../../images/FCOn.png) left no-repeat;
}

.quick_button2 {
	float: right;
	padding-right: 24px;
	height: 15px;
	width: 15px;
	/*background:url(../../images/default/quick_button1.gif) left no-repeat;*/
	background: url(../../images/FCOff.png) left no-repeat;
}

.error_info_bg {
	background: url(../../images/default/error_info_bg.gif) left top
		repeat-x;
	padding: 7px 0 6px 7px;
	margin: 0 80px 0 0px;
	font-weight: bold;
}

.error_info_line {
	border-bottom: 1px solid #D2D2D2;
	padding: 6px 0 5px 7px;
	margin: 0 80px 0 0px;
}

.error_info_position {
	padding: 4px 0 0 0;
}

.form_panel_title {
	background: #E64249;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	padding: 6px 0 7px 10px;
}

.button_area {
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 15px;
}

.button_bg {
	background: url(../../images/default/button_common_bg.gif);
	border-bottom: 1px solid #c3c3c3;
	border-left: 1px solid #aaaaaa;
	border-right: 1px solid #c3c3c3;
	border-top: 1px solid #aaaaaa;
	color: #505050;
	padding: 3px 3px 0px 3px;
	font-size: 12px;
	cursor: pointer;
	/*margin:0 8px 0 8px; */
	margin: 0 8px 0 0px;
}

.download_area {
	text-align: right;
	padding: 12px;
}

.info_welcome {
	color: #464646;
	width: 173px;
	margin: 5px auto 15px auto;
}

.info_welcome_user {
	color: #FF8400;
}

.welcome_top {
	font-size: 10px;
	background: url(../../images/default/welcome_top.gif) left top no-repeat;
	width: 173px;
	height: 12px;
}

.welcome_mid {
	background: url(../../images/default/welcome_mid.gif) left top repeat-y;
	width: 173px;
	padding: 0px 0px 0px 0px;
}

.welcome_mid td {
	line-height: 18px;
}

.welcome_bottom {
	background: url(../../images/default/welcome_bottom.gif) left top
		no-repeat;
	width: 173px;
	height: 15px;
}

.marquee_wrap {
	padding-left: 14px;
	font-weight: bold;
}

.marquee_wrap img {
	vertical-align: text-bottom;
}

.marquee_wrap a,.marquee_wrap a:visited {
	line-height: 28px;
	color: #0085b1;
}

.marquee_wrap a:hover {
	line-height: 28px;
	color: #0088e5;
}

.hidded {
	display: none;
}

.form_new_table_tr {
	border-bottom: dashed 1px #999;
	width: 500px
}

.form_redhead_Organization_hx {
	/*border-bottom:3px solid #900;*/
	margin-top: 18px
}

.footer_left {
	background: url(../../images/default/footer_left.gif) no-repeat;
	width: 8px;
	height: 32px;
}

.footer_right {
	background: url(../../images/default/footer_right.gif) no-repeat;
	width: 8px;
	height: 32px;
}

.grad_td {
	background: #E9E9E9;
	font-weight: bold;
}

.bgtable {
	border-top: 1px solid #C8C8C8;
	border-left: 1px solid #C8C8C8
}

.bgtable tr td {
	border-right: 1px solid #C8C8C8;
	border-bottom: 1px solid #C8C8C8;
	height: 20px
}

.xuanzk {
	width: 150px;
	height: 64px;
	background-color: #FFF;
	border: 1px solid #808080;
	text-align: left;
	padding: 8px
}

.xzput {
	padding: 5px;
	font-size: 14px;
	font-weight: bold;
	border: 0px;
	background-color: #F0F0F2
}

.zt {
	font-weight: bold
}

.ShowAreaF {
	position: absolute;
	width: 186px;
	padding: 0px 1px 10px 1px;
	left: 0px;
	top: 0px;
	background: url(../../images/themes/menu_b.gif) center bottom no-repeat;
}

.ShowAreaF ul {
	width: 186px;
	background: #efefef;
	padding-top: 10px;
}

.ShowAreaF li {
	padding: 8px 0px 8px 05px;
	color: #727272;
	float: left;
	width: 181px;
	text-align: left;
	background: url(../../images/default/info_line.gif) center bottom
		no-repeat;
}

.ShowAreaF li.selected {
	background-color: #fff;
}

.ShowAreaF li a {
	text-decoration: none;
	color: #555;
}

.ShowAreaFO {
	position: absolute;
	heigh: 130px;
	width: 186px;
	padding: 0px 1px 10px 1px;
	left: 0px;
	top: 17px;
	background: center bottom no-repeat;
}

.bottom_SiteMenuF {
	left: 505px;
	top: 52px;
	width: 196px;
	height: 181px;
}

.bottom_SiteMenuF ul {
	width: 186px;
	background: #efefef;
}

.bottom_SiteMenuF li {
	padding: 2px 0px 2px 05px;
	color: #727272;
	float: left;
	width: 181px;
	text-align: left;
}

.bottom_SiteMenuF li span {
	padding-left: 20px;
}

.bottom_SiteMenuF li.selected span {
	background: url(../../images/default/info_select_on.gif) 2px -7px
		no-repeat;
}

.bottom_SiteMenuF li a {
	text-decoration: none;
	color: #555;
}

.bottom_SiteMenuF li.selected a {
	color: #D7213A;
}

.batchTransfer_div {
	margin: 11px 5px 0px 5px;
	border-bottom: 0px solid #C5C5C5;
	padding: 0 0 22px 0;
}

.result_table_batch {
	border-collapse: collapse;
	margin: 0px 0px 10px 0px;
}

.result_table_batch td {
	border: 0px solid #c8c8c8;
	padding: 0 3px 0 0;
}

.menu_top {
	float: right;
	margin-top: 2px;
}

.menu_top ul.fNavi {
	
}

.menu_top ul.fNavi li {
	float: left;
	list-style: none outside none;
}

.menu_top ul.fNavi li.fNavi_l a {
	border-right: 1px solid #fff;
	color: #fff;
	padding: 0 10px;
	text-decoration: none;
}

.menu_top ul.fNavi li.fNavi_l a:hover {
	text-decoration: underline;
}

.menu_top ul.fNavi li.fNaviEnd_l a {
	color: #fff;
	padding: 0 10px;
	text-decoration: none;
}

.errRed {
	font-size: 1.2em;
	color: red;
}
/*menu longtq added*/
.dcchon {
	background-repeat: no-repeat;
	background-position: right bottom !important;
}

.dcchon {
	color: #fff !important;
}

.dcchon2 {
	background-repeat: no-repeat;
	background-position: left bottom !important;
}
/*menu longtq added*/
.textNonEdits {
	width: 100%;
	background: none;
	background-color: #d1d1d1;
	cursor: default;
}

.textEdits {
	width: 100%;
	background: none;
	cursor: default;
}

.redText {
	color: red;
	font-weight: bold;
}
body.hidden-body{
	overflow: hidden !important;
}
