.overLoad{
	display: inline-block;
	width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-x: auto;
    -ms-overflow-y: hidden;
}
.accounts{
	width:160px;
}
.accNumber{
	width:20%;
}
.accMSB{
	width:20%;
}
#errorValidate{
	color:red;
}
.mtcn{
	text-align:right;
}

.confirmOther{
	width:228px;
	margin-top:5px;
}
#checkboxContract sup{
	font: 12px Arial,Helvetica,sans-serif;
}
sup{
	font: 9px Arial,Helvetica,sans-serif;
}
.label1{
	width:125px !important;
}
.label2{
	width:103px !important;
}
.logoWU{

}
fieldset input[type="text"]{
	width:110px !important;
}
fieldset legend{
	font-weight: bold;
}
.text110{
	width:110px !important;
}
.combo120{
	width:120px !important;
}
.labelValue{
	text-align: left !important;
	width:137px !important;
}
.labelInput{
	text-align: left !important;
	width:200px !important;
}
.labelValueLarge{
	text-align: left !important;
	width:244px !important;
}
fieldset li{
	padding: 0px 0 !important;
}
.labelholder{
	position: relative;
	display: inline-block;
	padding-right:0px !important;
}
.hintText{
	width:110px !important;
}
.placeholder-text{
    color: #999999;
    display: none;
    left: 10px;
    position: absolute;
    top: 5px;
}
.confirmButton{
	margin-left:242px;
	margin-top:20px;
	}
.datepicker{
	cursor:pointer;
	vertical-align:text-bottom;
	border-width: 0px;
}
.requireMSB{
	color: #CB0021;
}

.selectMSB{
	width:240px;
}
.textMSB{
	width:150px;
}

#contractWU{
	margin: 15px 0 0 27px;

}
.infoForm,
.infoFromConfirm{
	margin-left:210px;
	margin-top:20px;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
}
.infoFromConfirm{
	margin-left:242px !important;
}
.newMsbForm{
	margin-top:20px;

}

.newMsbForm label,
.newMsbForm TEXTAREA,
.newMsbForm input[type="text"],
.newMsbForm select {
    float: left;
    margin: 0 2px 0 0;

}
.newMsbForm fieldset{
	width:80%;
	margin-top:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-color: #E1E0E1;
    border-style: solid;
    border-width: 1px;
    padding-bottom:10px;
}
.newMsbForm input[type="text"],
.newMsbForm TEXTAREA{
	width:244px;

}
.newMsbForm select{
	width:253px;

}

.newMsbForm li {
    list-style: none outside none;
    clear: both;
    padding: 6px 0;

}
.newMsbForm li {
    list-style: none outside none;
    clear: both;
    padding: 6px 0;

}
.tableConfirm{

}
.tableConfirm td{
	padding:10px 0 0 0;
	border-bottom-width:1px;
	border-style:solid;
	border-color:#E1E0E1;
	font-weight:bold;
	font-size: 13px !important;

}
.tableConfirm lable{
	float: left;

}
.valueConfirm{
	float: right !important;
	color: red;

}
.titleConfirm{
	font-size: 14px !important;
	font-weight: bold;
}
.newMsbForm label{
	padding-right:5px;
	width:200px;
	text-align: right;
	margin-top:5px;
	}
.newMsbForm .button_area{
	padding-left:208px;
	margin-top:25px;
}

.noneMSB{
	display:none;
}
.amounts{
	color: #0099DB;
	font-weight:bold;
}
.limitTrans{
	margin-left:28px;
	margin-top:15px;
}

.size-m{
	width:200px !important;
}
.alignRight{
	text-align:right;
}
.labelAccType{
	background: url("../../images/default/next.png") no-repeat scroll left bottom transparent;
    color: #444444;
    cursor: pointer;
    margin: 4px 0 6px;
    padding: 10px 6px 0 4px;
    text-align: left;

}
.step1Corp{
	font-weight:bold;
	font-size:14px;
	font-family:Tahoma;
	margin-left:40px;
}
.peddingTrans{
	height:150px;
	padding:10px;
}
.tabMSB{
	margin:15px 0px 0px 27px;
}
.form_panel_table{
	margin-top:15px;
}
.accMSB{
	padding:2px;
}
.accounts{
	padding:2px;
}
.resultContent{
	margin-top:0px;
	margin-left:10px;
	margin-right:10px;
	z-index:1000;
}
.lableMSB{
	width:200px;
}
.inputMSB{
	width:280px;
}
.size-mm{
	width:191px !important;
}
.size-md{
	width:171px !important;
}
.size-l{
	width:250px !important;

}
.size-ll{
	width:271px !important;

}

.e-m{
	width:180px !important;
}

.e-mm{
	width:170px !important;
}

.float-left{
float:left;
margin-right:3px;
}

select{
	/*height:23px;*/
}
.textfield{
	width:200px;
}
.select203{
	width:210px;
}
.dateMSB{
	width:10px;

}
.red{
	color:red;
}
.price{
	text-align:right;
}

.price1{
	direction:rtl;
}

.margin-10{
	margin: 10px;
}

.margin-left-10{
	margin-left: 10px;
}

.margin-right-10{
	margin-right: 10px;
}

.float-left{
	float:left;
}

.float-right{
	float:right;
}

.format-center{
	margin:auto;
}

input, textarea{
    border: 1px solid #ccc;
    padding: 3px;
}

input[type='radio']{
	border:0px;
	background: url(../../images/radio.png) repeat-x;
}
input[type='checkbox']{
	border:0px;
	background: url(../../images/radio.png) repeat-x;
}

.border-none{
	border: 0px !important;
}


/** JQUERY OVERRIDE **/
.ui-accordion .ui-accordion-header a{
    padding:0.1em 0.5em 0.1em 2.2em !important;
}
.ui-state-default{
	font-size: 12px;
}
.ui-widget-header{
    padding: 3px 0px;

}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
	color: #cc0000 !important;
	font-size: 12px;
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited{
	color: #555;
}
.ui-accordion-content{
    padding: 0px !important;
    zoom: 1;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button,
/*.ui-widget label{
    font-size:9pt !important;
}*/
.ui-widget{

}

.ui-widget-header a{
    text-decoration: none;
}

.slave.awesome, .slave.awesome:visited		{background: url(../../images/slave.png) !important; }
.slave.awesome:hover{	background: url(../../images/slave-hover.png) !important;}
.slave.awesome:active {	background: url(../../images/slave-click.png) !important;}


tr.even{
    /*background: #f0dfd1;*/
	background: #ddd;
}

.quick_menu_format{
	border-color: #E1E0E1;
	border-width:1px;
	border-style:solid;
	border-radius:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-bottom: 5px;
}
.centerMSB{
	text-align:center !important;
}
.centerMSBNoPad{
	text-align:center !important;
	width: 230px;
	margin: 0 auto;
}
.resultMSB{
	margin:4px 0px 0px 27px;
}
.paddingBtn{
	padding-left:210px;
}
.sumBalance{
	color:red;
	font-weight:bold;
}

.icon-trigger .words-trigger{
	cursor:pointer;
}

.inlineBlock{
	display:-moz-inline-stack;
	width:42px;
	display:inline-block;
	text-align:right;
	zoom:1;
	*display:inline;
}


.buttonYellowR24 {
    background-image: url(../../images/bab/buttonYellowR24.png);
    background-position: right top;
    background-repeat: no-repeat;
    float: left;
    height: 24px;
    padding-right: 20px;
    margin-right: 4px;
}

.buttonYellowL24 {
	color: #58595B;
	background: none;
	background-image: url(../../images/bab/buttonYellowL24.png);
    background-repeat: no-repeat;
	background-position: left top;
    border: none;
    display: block;
    float: left;
    font-size: 13px;
    font-weight: bold;
    height: 24px;
    padding: 0 10px;
}


.buttonYellowL24:hover {
    color: #0099DB;
}

.buttonYellowR24OTP {
    background-image: url(../../images/bab/buttonYellowR24.png);
    background-position: right top;
    background-repeat: no-repeat;
    float: left;
    height: 24px;
    padding-left: 5px;
    margin-right: 4px;
    position: absolute;
    width: 120px;
}

.buttonYellowL24OTP {
	color: #58595B;
	background: none;
	background-image: url(../../images/bab/buttonYellowL24.png);
    background-repeat: no-repeat;
	background-position: left top;
    border: none;
    display: block;
    float: left;
    font-size: 13px;
    font-weight: bold;
    height: 24px;
    padding: 0 10px;
}


.buttonYellowL24OTP:hover {
    color: #0099DB;
}


.buttonGreyR24 {
    background-image: url(../../images/bab/buttonGreyR24.png);
    background-position: right top;
    background-repeat: no-repeat;
    float: left;
    height: 24px;
    padding-right: 10px;
    margin-right: 5px;
}

.buttonGreyL24 {
	color: #58595B;
	background: none;
	background-image: url(../../images/bab/buttonGreyL24.png);
	background-repeat: no-repeat;
	background-position: left top;
	float: left;
	display: block;
	height: 24px;
    border: none;
    font-size: 13px;
    font-weight: bold;
    padding-left: 10px;
}


.buttonGreyL24:hover {
    color: #0099DB;
}
.chinhsuaNut{
	height: 30px;
	width: 100%;
	padding: 10px 250px 0px;
}
.manHinhb3{
	width: 100%;
	padding-left: 170px;
}
.canGiua{
	padding-left: 300px;
}
.canGiua200{
	padding-left: 200px;
}
.canGiua220{
	padding-left: 220px;
}
.yellowBab {
    color: #0099DB;
}