@charset "utf-8";
.frm_login_content {
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}
.left-conten {
	width: 219px;
	float: right;
	margin-right: 15px;
	}
.left-conten h2 {
    border-bottom: 1px solid #000000;
    margin-bottom: 9px;
    padding-bottom: 5px;
	padding-left: 0;
    font-weight: bold;
}
.frm_login_content {margin:0;padding: 10px 20px;}
.title {
    font-weight: bold;
    margin-bottom: 10px;
    background: url(../images/img_new/iconLock.png) no-repeat left center;
    padding-left: 30px;
    margin-bottom: 10px;
	text-align: left;
}
.button a {
    display: block;
    border-radius: 5px;
    text-align: center;
    color: #FFF;
    margin-bottom: 10px;
    padding: 10px 0;
    background: #05428d url(../images/img_new/rightNarrow.png) no-repeat 97% center;
	text-decoration: none;
}
.button a:hover {
    background-color: #145cb4;
}
.login_gt {
    float: left;
    display: block !important;
    width: 650px;
}
.footer {
    position: absolute;
    bottom: -100px;
    left: 0;
    right: 0;
}
.conten_gt {
    background-color: rgba(255, 255, 255, 0.65);
    z-index: 999;
    position: relative;
}